@page "/"
@inject HttpClient Http
@inject NavigationManager NavigationManager


<div class="container mt-5 justify-content-center align-items-center">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <h1 class="text-center" id="survey">Ocena wiedzy studentów ETI na temat szczepionek</h1>
            <div class="mat-layout-grid" style="max-width: 1280px;">
                <div class="mat-layout-grid-inner">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                        <MatPaper Elevation="6" Rounded="true">
                            <div class="mat-layout-grid-inner p-4">
                                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                                    <h5 class="mat-h6">Szanowni Państwo,</h5>
                                </div>
                                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                                    <Text>
                                        serdecznie zapraszamy do więcia udziału we wspólnym badaniu będącym częścią projektu studenckiego mającym na celu określenie wiedzy studentów naszego wydziału,
                                        oraz wszystkich zainteresowanych na temat szczepionek. Prosimy o szczere wypełnienie kwestionariusza. Jednocześnie zwracamy uwagę na to, że potrzebne nam informacje
                                        umożliwiają zachowanie anonimowości, i gwarantujemy ją na wszystkich etapach badania.
                                    </Text>
                                </div>
                                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                                    <Text>
                                        Ankieta składa się z 14 pytań ogólnych i 15 pytań quizowych. Wypełnienie ankiety nie powinno zając więcej niż 20min.
                                    </Text>
                                </div>
                                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12 text-right">
                                    <MatButton Raised="true" OnClick="@survey">Start</MatButton>

                                </div>
                            </div>
                        </MatPaper>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@code {
    public void survey()
    {
        NavigationManager.NavigateTo("survey");

    }

}